﻿@model nomiexpress.Models.Empleado

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Empleado</h4>
<hr />
@*<div class="row">
    <div class="col-sm-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hiredate" class="control-label"></label>
                <input asp-for="Hiredate" class="form-control" />
                <span asp-validation-for="Hiredate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuenta" class="control-label"></label>
                <input asp-for="Cuenta" class="form-control" />
                <span asp-validation-for="Cuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posicion" class="control-label"></label>
                <input asp-for="Posicion" class="form-control" />
                <span asp-validation-for="Posicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoLink" class="control-label"></label>
                <input asp-for="FotoLink" class="form-control" />
                <span asp-validation-for="FotoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>*@

<div class="container">
    <div class="row col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" placeholder="Apellido" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" placeholder="Cedula" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <label asp-for="Hiredate" class="control-label"></label>
                <input asp-for="Hiredate" class="form-control" />
                <span asp-validation-for="Hiredate" class="text-danger"></span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-3">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" placeholder="809/829" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-2">
                <label asp-for="Cuenta" class="control-label"></label>
                <input asp-for="Cuenta" class="form-control" placeholder="No. Cuenta" />
                <span asp-validation-for="Cuenta" class="text-danger"></span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-3">
                <label asp-for="Posicion" class="control-label"></label>
                <input asp-for="Posicion" class="form-control" placeholder="Developer" />
                <span asp-validation-for="Posicion" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-2">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" placeholder="Salario" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-2">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" placeholder="Estado civil" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-4">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" placeholder="Av.Independencia" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>

            <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-4">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="example@hotmail.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-4">
                <label asp-for="FotoLink" class="control-label"></label>
                <input asp-for="FotoLink" class="form-control" type="file" />
                <span asp-validation-for="FotoLink" class="text-danger"></span>
            </div>

            <div class="clearfix"></div>
            <div class="form-group ">
                <input type="submit" value="Create" class="btn btn-success btn btn-block" />
            </div>
        </form>
        <div class="clearfix"></div>
        <br /><br />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
