﻿@model PagedList.IPagedList<nomiexpress.Models.Empleado>
@using PagedList.Mvc;

<link href="~/Content/PagedList.cs" rel = "stylesheet" type="text/css"/>

@{
    ViewData["Title"] = "Empleado";
}

<h2>Empleados</h2>

<p>
    <a asp-action="Create">Nuevo Empleado</a>
</p>

@using (Html.BeginForm("Index", "Empleado", FormMethod.Get))
{
    <p>
        Find by Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search"/>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre:
            </th>
            <th>
                @Html.ActionLink("Apellido: ","Index",new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Cedula:
            </th>
            <th>
                Cuenta:
            </th>
            <th>
                Posición:
            </th>
            <th>
                Salario:
            </th>
            <th>
                Telefono
            </th>
            <th>
                Email:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posicion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
