﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*.navbar-inverse {
    background-color: #808080 !important;
    border-color: #ffffff !important;
    
  
}
.navbar-brand {
    color: black !important
}

    .navbar-brand:visited {
        color: black !important
    }

.navbar-default-color {
    color: black !important
}

.navbar-nav {
    color: black !important
}
}
.navbar-inverse {
    color: #FFFFFF !important
}*/
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}